

  <title>Edit Note</title>
  <!-- Include any CSS styling here -->
  <h1>Edit Note</h1>

<%= render "form", note: @note %>
  <!-- Link to go back to the notes index -->
  <%= link_to "Back to Notes", notes_path %>

  <!-- Include any JavaScript here -->


  <!-- Link to go back to the notes index -->
  <%= link_to "Back to Notes", notes_path %>
